html {
    padding-left: 2rem;
    display: block;
    /* For copy/paste reference
    font-family: 'Cutive Mono', monospace;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto Slab', serif; */
}

body, h1, h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
}

.container {
    border: 2px solid black;
    padding: 10px;
    margin: 10px auto;
}