html {
    display: block;
    /* For copy/paste reference
    font-family: 'Cutive Mono', monospace;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto Slab', serif; */
}

body {
    margin: 0 10%;
}

body, h1, h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
}

.container {
    border: 2px solid black;
    padding: 10px;
    margin: 10px auto;
}

.color-container {
    width: 100%;
}

.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.verdigris {
    background-color: #75B9BE;
    color: black;
}